.sidebar_conatiner{
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.pfp{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 20px;
}